{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block title %}Home{% endblock %}

{% block content %}
       <div xmlns:margin="http://www.w3.org/1999/xhtml">
        <iframe class='calendar' align="right" src="https://calendar.google.com/calendar/embed?height=600&amp;
        wkst=1&amp;bgcolor=%234285F4&amp;ctz=Asia%2FHong_Kong&amp;src=a2Zpd2NlbDk3MDMxM0BnbWFpbC5jb20&amp;
        src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;
        color=%23F4511E&amp;showTz=0&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showDate=0&amp;
        showNav=0&amp;showTitle=0" style="border:solid 0px #777" width="335" height="160" frameborder="0" scrolling="no"></iframe>

    </div>
    <div class="page-header">
        <h1 class="display-3">{{ admin.blog_title|default('Blog Title') }}</h1>
        <h4 class="text-muted">&nbsp;{{ admin.blog_sub_title|default('Blog Subtitle') }}</h4>
    </div>

    <div class="row">
        <div class="col-sm-8">
            {% include 'blog/_posts.html' %}
            {% if posts %}
                <div class="page-footer">{{ render_pager(pagination) }}</div>
            {% endif %}
        </div>
        <div class="col-sm-4 sidebar">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
{% endblock %}
